* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lexend", sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
}

.div-pagina {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  overflow-x: hidden;
}

.div-layout {
  display: flex;
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
}

.main-conteudo-centralizado {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.main-width-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
  flex: 1;
}
