/* Reset e Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f5f6f8;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Layout Global */
.app-container {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
}

.layout-wrapper {
  display: flex;
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
}

.main-content-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 1.25rem 1rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  flex: 1;
}

@media (min-width: 640px) {
  .main-content-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px) {
  .main-content-wrapper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 1024px) {
  .main-content-wrapper {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (min-width: 1280px) {
  .main-content-wrapper {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
