* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lexend", sans-serif;
  background-color: #f6f6f8;
  color: #111118;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  overflow-x: hidden;
}

.layout-container {
  display: flex;
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.terms-content {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .content-wrapper {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .main-content {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

    .terms-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

}

@media (min-width: 1024px) {
  .content-wrapper {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
