/* RESPONSÁVEL: DOUGLAS - LISTA DE TERMOS / CARDS DINÂMICOS */
.lista-termos-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  margin-top: 2rem;
}

.lista-details {
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  border: 1px solid #e2e8f0;
  background-color: #ffffff;
  padding: 1rem;
}

.lista-details-summary {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
}

.lista-details-summary::-webkit-details-marker {
  display: none;
}

.lista-details-summary-conteudo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.lista-details-summary-conteudo-div-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
  background-color: rgba(71, 71, 235, 0.2);
  color: #4747eb;
}

.lista-details-summary-conteudo-icon {
  font-size: 1rem;
}

.lista-details-summary-conteudo-titulo {
  color: #0f172a;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.chevron-icon {
  color: #64748b;
  transition: transform 0.2s;
}

/* Chevron Rotation */
details[open] > summary .chevron-icon {
  transform: rotate(180deg);
}

.lista-detail-conteudo-p {
  color: #475569;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.625;
  padding-top: 1rem;
  padding-left: 2.75rem;
}

/* Responsiveness (Media Queries) */
/* SM (640px) */
@media (min-width: 640px) {
  .content-wrapper {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

/* MD (768px) */
@media (min-width: 768px) {
  .content-wrapper {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .terms-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

/* LG (1024px) */
@media (min-width: 1024px) {
  .content-wrapper {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
