/* SECAO PRINCIPAL COMEÇO - JALDSON*/

/* Estilização do conteúdo principal da página*/
.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
/* estilização da div que embrulha o conteúdo do container'*/
.content-wrapper {
  padding: 2.5rem 1rem; 
  display: flex;
  flex: 1;
  justify-content: center;
}

/*estilização da 'cerca' pra garantir o alinhamento dos itens*/
.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 56rem; 
  flex: 1;
  gap: 3rem; 
}

/*estilização do corpo do 'cabeçalho' */
.page-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 1rem; 
  gap: 0.75rem; 
}

/* estilização do conteúdo interno do cabeçalho */
.heading-inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem; 
}

/* estilização do título*/
.main-title {
  font-size: 2.25rem; 
  font-weight: 900; 
  line-height: 1.25;
  letter-spacing: -0.05em; 
  color: #343a40;
}

/* estilização do subtitulo*/
.main-subtitle {
  font-size: 1rem; 
  font-weight: 400;
  line-height: 1.5;
  max-width: 42rem; 
  color: #636388; 
}

/*configurações de responsividade*/
@media (min-width: 768px) {
  .main-title {
    font-size: 3rem; 
  }

  .main-subtitle {
    font-size: 1.125rem; 
  }

}

