.sec-como-nasceu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sec-como-nasceu-titulo {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.025em;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 1.25rem;
  text-align: center;
  color: #343a40;
}

.sec-como-nasceu-paragrafo {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625;
  color: #343a40;
  padding-left: 1rem;
  padding-right: 1rem;
}
