/* Reset e Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff; /* bg-white */
  color: #1f2937; /* text-text-primary */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Layout Wrapper */
.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
