/*estilização da 'caixa pai*/
.info-column {
  display: flex;
  flex-direction: column;
  gap: 2rem; 
}

/*estilização do agrupamento do titiulo e subtitulo*/
.heading-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem; /
}

/*estilização do titulo*/
.page-title {
  color: #111118;
  font-size: 2.25rem; 
  font-weight: 900; 
  line-height: 1.25; 
  letter-spacing: -0.033em; 
}

/*estilização do subtitulo*/
.page-subtitle {
  color: #636388; 
  font-size: 1rem; 
  font-weight: 400; 
  line-height: 1.5; 
}
/*estilização da seção de informações extras*/
.extra-contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}
/*aqui é feita a estilização do subtitulo da secao*/
.section-title {
  font-size: 1.125rem; 
  font-weight: 700; 
  color: #111118;
}

/*estilização dos ícones*/
.social-links {
  display: flex;
  align-items: center;
  gap: 1rem; 
  color: #636388;
}
/*estilização do titiulo*/
.social-icon {
  color: inherit;
  transition: color 0.15s;
  display: flex;
  align-items: center;
}

/*animação ao passar o mouse por cima*/
.social-icon:hover {
  color: #4747eb; 
}

/*estilização do tamanho do ícone*/
.social-icon svg {
  width: 1.5rem; 
  height: 1.5rem;
}
/*alinhamento e estilo da linha de contato*/
.contact-detail {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  font-size: 0.875rem;
  color: #636388;
}
